<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
  xmlns:gap = "http://phonegap.com/ns/1.0"
	id = "com.cloudfour.chapter8"
	version = "1.0.0">

	<name>Chapter 8</name>

	<icon src="images/touch-icon-iphone4.png" height="114" width="114" />
	<icon src="images/touch-icon-ipad.png" height="72" width="72" />
	<icon src="images/touch-icon-iphone.png" height="57" width="57" />
	<icon src="images/icon-48.png" height="48" width="48" />
	<icon src="images/icon-36.png" height="36" width="36" />
  
	<gap:splash src="images/splash.png" />
</widget>
